<h1>All States </h1>
<div>
    <%= form_tag(states_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search for a place" %>
        <%= submit_tag "Search" %>
    <% end %>
</div>

<h4><%= link_to "Add a new State", new_state_path %></h4><br>

<% @states.all.each do |s| %>
    <div class="white-box">
    <h2 style="color: #2F4F4F;"><%= s.place %></h2>
    <h3 style="color: #000000;"><%= s.description %></h3>
            <h5 style="color: black;">Click <%= link_to 'here', { action: :destroy, id: s.id }, method: :delete, data: { confirm: 'Are you sure?' } %> to delete state.</h5>
        <p><%= link_to "Write a Review", new_state_review_path(s.id), {:style=>'color:#FFFF00;', :class => "css_class"} %></p>

    </div>
<br>
<% end %>

