<h1>Add a Location</h1>

<%= render partial: "layouts/error", locals: {object: @state} %>

<%= form_for(@state) do |f| %> 
    <div>
        <%= f.label :place, 'State' %><br>
        <%= f.text_field :place %><br><br>
    </div>
    <div>
        <%= f.label :description %><br>
        <%= f.text_area :description %>
    </div>

    <p> Select a country that you've already visited: </p>
    <div>
        <%= f.collection_select :country_id, Country.all, :id, :name, include_blank: "Select a country" %>
    </div>

    <p> Or add a new country: </p>
    <div> 
        <%= f.fields_for :country, Country.new do |c| %>
            <%= c.label :name %>
            <%= c.text_field :name %>
        <% end %>
    </div>

    <br><p><%= f.submit "Add Location" %></p>
<% end %>
