<h1>All Reviews</h1>

<div>
    <%= form_tag(reviews_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Reviews" %>
        <%= submit_tag "Search", :name => nil %>
    <% end %>
</div>

<ul>
    <% @reviews.order_by_rating.each do |r| %>
       <h2 style="color: #228B22;"><%= r.state.place%>: <%= r.state.description%>
       <h3 style="color: #FAF0E6;"><%= r.title %> - <%= r.stars %> stars </h3>
        <p style="color: #FFFF00"><%= r.content %></p>
        <% if current_user == r.user %>
            <p><%= link_to "Edit Review", edit_review_path(r), {:style=>'color:#FFA500;', :class => "css_class"} %></p><br>
        <% end %>
        <br>
    <% end %>
</ul>
