<p id="notice"><%= notice %></p>

<p>
  <strong>Place:</strong>
  <%= @location.place %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<p>
  <strong>Pet friendly:</strong>
  <%= @location.pet_friendly %>
</p>

<p>
  <strong>State:</strong>
  <%= @location.state_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @location.user_id %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
