<!DOCTYPE html>
<html>
  <head>
  <style>
            h1 {text-align: center;}
            h2 {text-align: center;}
            h3 {text-align: center;}
            h4 {text-align: center;}
            h5 {text-align: center;}
            p {text-align: center;}
            div {text-align: center;}
            ul {display:table-cell;}
            li {display:table;}
            
        </style> 
    <title>TravelsSocial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<% unless params[:action] == 'welcome' %>
    <div class="contaner-fluid custom-padding full-page-height">

    <center><ul><%= link_to "Log Out", logout_path, method: :delete %></ul>
    <ul><%= link_to "All Countries", countries_path %></ul>
    <ul><li><%= link_to "All States", states_path %></li>
        <li><%= link_to "Add a State", new_state_path %></li></ul>
    <ul><li><%= link_to "All Locations", locations_path %></li>
        <li><%= link_to "Add a Location", new_location_path %></li></ul>
    <ul><li><%= link_to "All Reviews", reviews_path %></li>
        <li><%= link_to "Add a Review", new_review_path %></li>
        <li><%= link_to "Your Reviews", users_reviews_path %></li></ul><center>
  </div>
<% end %>

  <body>


    <%= yield %>
  </body>
</html>
